@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: $c-dark-blue;
  background: $c-bg;
  position: relative;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
