$c-white: #fff;
$c-bg: #01012b;
$c-dark-blue: #4c9fb3;
$c-bright-blue: #05d9e8;
$c-dark-pink: #ae3755;
$c-bright-pink: #ff2a6d;
$c-gold: #ffcb3e;
$c-nav: #092047;
$c-dark-purple: #29132e;
$c-dark-red: #de004e;
