$section: '.projects';

#{$section} {
  &__container {
    height: 100vh;
    max-width: 750px; // based on image width per bp
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__name {
    margin: 0 0 -50px 0;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 0.15px;
    z-index: 1;
  }

  &__description {
    display: none;
  }

  &__image-wrapper {
    width: 100%;
    display: flex;
    font-size: 12px;

    img {
      width: 750px;
      height: 400px;
      object-fit: cover;
      object-position: 40%;
      filter: brightness(0.65);
    }

    span {
      position: relative;
      height: fit-content;
      writing-mode: vertical-lr;
      cursor: pointer;

      &::after {
        content: '';
        width: 1px;
        background-color: #fff;
        opacity: 0.6;
        height: 375px;
        position: absolute;
        top: 50px;
        left: 44%;
      }
    }

    a {
      position: relative;
      text-decoration: none;
      color: #fff;
      align-self: flex-end;
      writing-mode: vertical-lr;
      transform: rotate(180deg);

      &::before {
        content: '';
        width: 1px;
        background-color: #fff;
        opacity: 0.6;
        height: 375px;
        position: absolute;
        top: 50px;
        left: 44%;
      }

      &::after {
        content: '⌵';
        display: inline-block;
        position: absolute;
        bottom: -12px;
        right: -1px;
        font-size: 15px;
        text-align: center;
        transform: rotate(-90deg);
      }
    }
  }
}
